<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <coins>
                <payment_action>authorize</payment_action>
                <model>Dorn\Loyalty\Model\CoinsPaymentMethod</model>
                <active>1</active>
                <title>Coins</title>
                <order_status>pending_payment</order_status>
            </coins>
        </payment>
    </default>
</config>
