<div class="random-products__items" data-bind="foreach: products">
    <div class="random-products__item">
        <a class="random-products__item-img">
            <img data-bind="attr: {src: imageUrl}"
                 alt="Product Image">
        </a>

        <div class="random-products__item-info">
            <a data-bind="attr: {href: url}">
                <div class="random-products__item-title" data-bind="text: name"></div>
            </a>
            <div class="random-products__item-price" data-bind="html: price"></div>
        </div>
    </div>
</div>