<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Dorn\Books\Api\Data\BookInterface" type="Dorn\Books\Model\Book"/>
    <preference for="Dorn\Books\Api\BookRepositoryInterface" type="Dorn\Books\Model\BookRepository"/>
    <preference for="Dorn\Books\Api\Data\BookSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

</config>
